.firstImage {
  height: 20vh;
  width: 35vh;
  object-fit: cover;
  border-radius: 10px;
}

.heading {
  font-size: 3.5vh;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin: 0px 20px;
  margin-top: 12px;
}

.secondImage {
  height: 15vh;
  width: 35vh;
  object-fit: cover;
  border-radius: 10px;
}

.thirdheading {
  font-size: 4vh;
  margin-top: 40px;
  margin-bottom: 50px;
}

.fourthHeading {
  line-height: 2px;
  font-size: 2.5vh;
}

.bookButton {
  --background: rgb(255, 178, 78);
  --color:white;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
