.background-image{
    height: 100%;
    object-fit: cover;
    position: relative;
}

.content-home{
    position: absolute;
    --background: transparent;
    --color: black !important;
}
.content-home > h1{
    font-size: 6vh;
    margin: 0;
}
.content-home > h2{
    font-size: 4vh;
    margin: 0;
}
.content-home > h4{
    font-size: 2vh;
}

.button2{
    width: 80% !important;
    --background: #0C4121 !important;
    --color:white;
    margin-top: 25px;
}

.logo-home{
    width: 50%;
    display: inline-block;
    margin: auto;
}
