.main-container{
    background-color: #fff;
    color: black;
    justify-content: center;
}

.content{
    margin-bottom: 20vh;
}

.inputs{
    margin: 2vh 0;
}

.input{
    /* margin: 20px 10px; */
}

.headings{
    margin-bottom: 5vh;
}

.headings > h1 {
    font-size: 5.5vh;
}

.headings > h4 {
    font-size: 2.5vh;
}

.input{
    border: 2px solid black;
    margin: 0px 0px;
    --color: black !important;
    padding: 0.8vh 1vh !important;
    --color:gray !important;
}

.input-label{
    margin-bottom: 1.5vh !important;
    font-size: 2.5vh !important;
    font-weight: 500 !important;
    color: black !important;
}

.buttons-row{
    margin: 1vh 0 !important;
}

.button {
    --background: black;
    color: white !important;
}