.main-container{
    background-color: #fff;
    color: black;
    justify-content: center;
}

.content{
    margin-bottom: 10vh;
}

.inputs{
    margin: 2vh 0;
}

.input{
    margin: 20px 10px;
}

.headings{
    margin-bottom: 0.5vh;
}

.headings > h1 {
    font-size: 5.5vh;
}

.headings > h4 {
    font-size: 2.5vh;
}

.input{
    border: 2px solid black;
    margin: 0px 0px;
    padding: 0.8vh 1vh !important;
}

.input-label{
    margin-bottom: 1.5vh !important;
    font-size: 2.5vh !important;
    font-weight: 500 !important;
}

.buttons-row{
    margin: 1vh 0 !important;
}

.button {
    width: 100%;
    height: 5.5vh;
    font-size: 1.8vh !important;
}